
@model ComicBookStore.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;

}

<h1>@Model.SeriesTitle</h1><br />
<h2>Issue No: @Model.IssueNumber</h2>
<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>
<h5>Artist</h5>
<div>

    <ol>
    @foreach (var artist in Model.Artist)
    {
        <text><li> @artist.role : @artist.name</li></text>
    }
    </ol>
</div>
